body{
    background-color: rgb(0, 0, 0);
}

h1{
    color: mediumvioletred;
}
p{
    color: pink;
}

.exe{
    border: 1px solid rgb(241, 241, 241);
    border-radius: 15px;
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    font-size: 15px;
    padding: 2%;
}

#aa{
    border: 1px solid rgb(241, 241, 241);
    border-radius: 10px;
}